@page
@using Moryx.Runtime.Modules;
@inject IModuleManager moduleManager

<div class="text-center">
    <p>Redirect to <a href="/CommandCenter">MORYX CommandCenter</a>.</p>
    <p>Redirect to <a href="/swagger">Swagger UI</a> </p>
    <p>Total number of modules is @(moduleManager.AllModules.Count())</p>
</div>
